body {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 28px;
}

h1.large {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h3.alternate, h4.alternate {
    font-size: 1rem;
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
    transition: all .4s;
}

a:hover {
    color: #C72127;
    text-decoration: none;
}

pre {
    white-space: pre-wrap; 
}

code {
    display: inline-block;
    padding: 10px;
    background: lemonchiffon;
}

img {
    display: block;
    max-width: 100%;
}

img.left {
    float: left;
    margin: 0 20px 10px 0;
}

img.right {
    float: right;
    margin: 0 0 10px 20px;
}

ul, ol {
    padding-left: 20px;
    margin-left: 0;
}

hr {
    width: 100%;
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #CACACA;
}

.uc {
    text-transform: uppercase;
}

.small {
    font-size: 12px;
}

.large {
    font-size: 40px;
}

.text-center {
    text-align: center;
}

.text-white, .text-white a {
    color: white;
}

.date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
}

.date i {
    padding-right: 8px;
    color: #576784;
}

/*
    Blockquote
*/
blockquote {
    display: block;
    margin: 30px 0;
    border-left: 5px solid #8F5EA7;
    padding: 0 0 0 30px;
    color: #576884;
}

    blockquote p {
        font-size: 1.1rem;
    }

/*
    Lead paragraph
*/
div.lead {
    margin: 0 0 30px 0;
}

div.lead, p.lead {
    font-size: 1.2rem;
    margin-top: 0px;
}

@media all and (min-width: 1200px) {
    h1 {
        font-size: 42px;
    }

    h1.large {
        font-size: 50px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }
}

@media all and (max-width: 640px) {
    img.left,
    img.right {
        float: none;
        margin: 0 0 10px 0;
    }
}