/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.breadcrumb ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 13px;
}

.breadcrumb a {
    text-decoration: underline;
}

.breadcrumb a, .breadcrumb span {
    padding: 0 7px;
}

.breadcrumb li:first-of-type a {
    padding-left: 0;
}

.breadcrumb li::before {
    content: "/";
}

.breadcrumb li:first-of-type::before {
    content: "";
}