/*Card*/

.card {
	margin: 10px 15px 20px;
	width: 100%;
	max-width: 180px;
	text-decoration: none;
	text-align: center;
}

.card h3 {
	font-size: 20px;
}

.card img {
	margin: 0 auto 10px;
	width: 90px;
	height: 90px;
}

@media all and (min-width: 800px) {
	.cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 20px;
	}

	.card {
		flex: 0 1 25%;
		max-width: inherit;
	}
}

@media all and (min-width: 1024px) {
	.card {
		flex: 0 1 15%;
	}
}