/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.chart .chart-cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.chart .chart-card {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 47%;
	flex: 0 1 47%;
	margin: 10px 0 20px;
	padding: 20px 5px 10px;
	width: 100%;
	max-width: 400px;
	border: 1px solid #CACACA;
	border-radius: 10px;
	text-align: center;
}

.chart .chart-title {
	margin-bottom: 5px;
	font-size: 24px;
	font-weight: 600;
}

.chart .chart-date {
	margin: 0;
	color: #334154;
	font-size: 14px;
}

.chart .chart-value {
	margin: 0;
	color: #576784;
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: bold;
	line-height: 1;
}

.chart .chart-label {
	color: #576784;
	font-family: "Zilla Slab";
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
}

.highcharts-figure {
	position: relative;
	max-width: 650px;
	margin-right: 0;
	margin-left: 0;
}

.highcharts-figure .chart {
	height: 500px;
}

.highcharts-figure .center-text {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 20%;
	text-align: center;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.highcharts-figure .highcharts-axis-labels.highcharts-xaxis-labels span {
	text-align: center;
}

@media all and (min-width: 400px) {
	.chart .chart-value {
		font-size: 35px;
	}
}

@media all and (min-width: 800px) {
	.chart .chart-value {
		font-size: 60px;
	}
}