/*Footer*/

footer ul {
  list-style: none;
  padding-left: 0;
}

footer .footer {
  padding: 30px 50px;
}

footer .footer li {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

footer .social img {
  margin: 20px auto 0;
  width: 45px;
  height: 45px;
}

/*Copyright*/

footer .copyright {
  padding: 15px 50px;
  border-top: 1px solid #4D4D50;
}

footer .copyright ul li {
  font-size: 12px;
  text-align: center;
}