/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.intro {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.intro h2 {
    border-bottom: inherit;
}

.intro .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media all and (min-width: 600px) {
    .intro .btn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

@media all and (min-width: 1200px) {
    .intro {
        width: 750px;
    }
}