/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.sidebar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 0 30px;
	padding: 30px;
	width: 100%;
	max-width: 400px;
	background: white;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.15);
	box-shadow: 0 3px 5px rgba(0,0,0,.15);
}

.sidebar p {
	margin-top: 0;
	color: #334154;
}

.sidebar a {
	text-decoration: none;
}

.sidebar a:hover {
	text-decoration: underline;
}

.sidebar .btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sidebar .icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.sidebar .icon i {
	padding-right: 8px;
	color: #576784;
}

/*Sidebar with links*/

.sidebar.links {
	font-size: 14px;
}

.sidebar.links ol, 
.sidebar.links ul 
{
	list-style: none;
	padding-left: 35px;
}

.sidebar.links li {
	position: relative;
	padding-bottom: 15px;
	color: #8F5EA7;
	line-height: 1.4;
}

.sidebar.links li a {
	text-decoration: none;
}

.sidebar.links li:before {
	position: absolute;
	left: -35px;
	top: -7px;
	color: #334154;
	font-family: "Material Icons";
	font-size: 25px;
	content: "\e250";
}


/* Icons */
.sidebar.links li.icon-pdf::before {
	content: "\e415";
	top: -5px;
}

.sidebar.links li.icon-mp4::before {
	font-size: 23px;
	content: "\e63a";
	top: -5px;
}

.sidebar.links li.icon-mp3::before {
	font-size: 23px;
	content: "\e3a1";
	top: -5px;
}

.sidebar.links li.icon-external::before {
	font-size: 23px;
	content: "\e89e";
	top: -5px;
}

/*Header with sidebar*/

.sidebar.border {
	padding: inherit;
	padding-left: 20px;
	background: inherit; 
	border-radius: inherit;
	border-left: 5px solid #8691a5;
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
}

.sidebar.border p {
	margin: 0 0 10px 0;
	padding: 0;
	color: #576784;
}

.sidebar.border p:last-of-type {
	margin: 0;
}