/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*3-wide layout*/

.listing {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.spotlight {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 10px;
	width: 100%;
	max-width: 400px;
	background: white;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.15);
	        box-shadow: 0 3px 5px rgba(0,0,0,.15);
}

.spotlight .thumbnail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
	height: 140px;
}

.spotlight .thumbnail img {
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

.spotlight .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
	padding: 0 30px 20px;
	text-align: center;
}

.spotlight .content h3 {
	margin-bottom: 10px;
	color: #334154;
	font-size: 22px;
	font-weight: 500;
}

.spotlight .content p {
	color: #334154;
	font-size: 14px;
}

.spotlight .content p.lead {
	font-size: 16px;
}

/*2-wide layout with sidebar*/

.two-wide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.two-wide .spotlight {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-shadow: inherit;
	        box-shadow: inherit;
}

.two-wide .spotlight .thumbnail {
	-webkit-box-align: inherit;
	    -ms-flex-align: inherit;
	        align-items: inherit;
	height: inherit;
}


.two-wide .spotlight .content {
	text-align: inherit;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
}

.two-wide .spotlight .content h3 {
	color: #8F5EA7;
}

/*full width span*/
.full-width .spotlight {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 20px;
}

	.full-width .spotlight .thumbnail {
		height: 160px;
		margin: 20px 0;
	}
	
	.full-width .spotlight .thumbnail img {
		width: 160px;
		height: 160px;
	}
	

@media all and (min-width: 800px) {

	.listing {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
	}

	.spotlight {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 45%;
		        flex: 0 1 45%;
	}

	.spotlight .content h3 {
		font-size: 24px;
	}

	/*2-wide layout with sidebar*/
	.two-wide {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-ms-flex-line-pack: start;
		    align-content: flex-start;
		-webkit-box-flex: 2;
		    -ms-flex: 2 1 63%;
		        flex: 2 1 63%;
	}

	.two-wide .spotlight {
		-webkit-box-flex: inherit;
		    -ms-flex: inherit;
		        flex: inherit;
	}

	.listing .sidebar {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 30%;
		        flex: 1 1 30%;
	}

	/* Full width layout */
	.full-width .spotlight {
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-shadow: inherit;
	        box-shadow: inherit;
	   	margin: 20px 0;
	}

	.full-width .spotlight .content {
		text-align: left;
		padding-bottom: 0px;
		flex: 1;
	}

	.full-width .spotlight .thumbnail {
		margin: 0;
	}

}

@media all and (min-width: 1024px) {

	.spotlight {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 30%;
		        flex: 0 1 30%;
	}

	/*2-wide layout with sidebar*/
	.two-wide .spotlight {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 45%;
		        flex: 0 1 45%;
	}

}