/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.statistics {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.statistic {
	margin: 10px 15px 20px;
	padding: 30px 0;
	width: 100%;
	max-width: 400px;
	border: 1px solid white;
	border-radius: 10px;
	text-align: center;
}

.statistic i {
	margin-bottom: 10px;
	color: white;
	font-size: 50px;
}

.statistic h3 {
	margin-bottom: 10px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: 700;
}

.statistic p {
	margin-top: 0;
	color: white;
	font-family: 'Zilla Slab', serif;
	font-size: 18px;
	font-weight: 500;
}

.statistics.total .statistic {
	margin: 10px 15px;
	padding: 10px 0;
	border: inherit;
	border-radius: inherit;
}

.statistics.total .statistic p:last-of-type {
	font-weight: normal;
}

.statistics.total .statistic p {
	margin-bottom: 0;
}

@media all and (min-width: 800px) {
	.statistic {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 45%;
		flex: 0 1 45%;
	}

	.statistics.total .statistic {
		text-align: left;
	}

	.statistics.total .statistic:last-of-type {
		text-align: right;
	}

	.statistics.total .statistic:last-of-type .btn {
		margin-top: 12px;
	}
}

@media all and (min-width: 1024px) {
	.statistic {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 30%;
		flex: 0 1 30%;
	}

	.statistics.total .statistic:first-of-type {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 63%;
		flex: 0 1 63%;
		max-width: none;
	}

	.statistics.total .statistic:first-of-type > h3 {
		margin-bottom: 0;
		min-width: 210px;
	}

	.statistics.total .statistic:first-of-type > .detail {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.statistics.total .statistic:last-of-type {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 30%;
		flex: 0 1 30%;
		max-width: none;
	}

	.statistics.total .statistic:last-of-type .btn {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}