/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.tag {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px 20px;
	background-color: #F6F6F7;
	border-radius: 28px;
	color: #8F5EA7;
	text-decoration: none;
	font-size: 14px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

a.tag:hover {
	color: white;
	background-color: #334154;
	text-decoration: underline;
}

.tag.small {
	padding: 4px 12px;
}

.tag.flag {
	padding: 4px 12px;
	border-radius: 2px;
	color: white;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

.tag.blue {
	background-color: #1D5DB1;
}

.tag.softblue {
	background-color: #576784;
}

.tag.transparent {
	background: rgba(0, 0, 0, 0.3);
}